@import "../../../Styles/Shared/Color/color.scss";

.favourite-first {
    background-color: $thin-green;
    height: 15.5em;
}
.icon-center {
    margin-left: 45.5em;
}
.icon-size {
    font-size: 0.5em;
    color: #ffa534;
}
.favorite-second {
    background-color: $skeptic-color;
}
.imgFavo {
    // height: auto;
    width: 40em;
    // margin-left: 15em;
}
.imgFavo-center {
    margin-left: 19.5em;
}
.second-para {
    margin-left: 0em;
    margin-top: 5em;
}