nav {
    div {

        ul {
            li {
                a {
                    font-weight: bold;
                }
            }
        }

            .find-store {
                margin-top: 0.8px;
            }
            a {
                margin-left: 20px;
            }
            .white-button {
                background-color: white;
                color: black;
                padding: 4px 10px;
                border-radius: 10px;
                border: 1px solid black;
                text-decoration: none;
            }
            .green-button {
                background-color: black;
                color: white;
                padding: 4px 10px;
                border-radius: 10px;
                border: 1px solid black;
                text-decoration: none;
            }
        
    }
    
}
