.starcode-container {
  font-weight: bold;
  margin-top: 2em;
}
.star-title {
  margin-left: 28.5em;
}

.green-button {
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
  margin: 1em;
}
